window {
	background: transparent;
}

headerbar.flat {
	background-color: rgba(29, 31, 33, 0.88);
}

headerbar > windowhandle > box {
	padding-right: 0px;
}

tabbar > revealer > box {
	box-shadow: none;
}

tabboxchild {
	margin-bottom: 3px;
}

tabbar > revealer > box,
tabbar > revealer > box > scrolledwindow {
	border-image-width: 0px;
}

#primary-container {
	background: transparent;
}

tabbar, tabbox, tabbar > revealer > box {
	background: transparent;
}

headerbar.flat tab:selected {
	background-color: #2f2f2f;
}
